@import "tailwindcss";

@theme {
    --font-sans: "ui-rounded", "Helvetica", "sans-serif";
    --color-gray-100: #f8f8f8;
    --color-gray-200: #eeeeee;
    --color-gray-300: #e0e0e0;
    --color-gray-400: #bdbdbd;
    --color-gray-500: #9e9e9e;
    --color-gray-600: #757575;
    --color-gray-700: #616161;
    --color-gray-800: #424242;
    --color-gray-900: #212121;
}

html {
    font-size: 16px;
    line-height: 1.5;
}
@media (min-width: 38em) {
    html {
        font-size: 20px;
    }
}
